.contact {
  padding: 20px 0 10px;
  max-width: 1200px;
  margin: auto;
  min-height: 91vh;
  display: flex;
  place-items: center;
}

.contact__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: auto;
}

.contact__header {
  text-align: left;
  /* max-width: 40%; */
}

.contact__heading {
  color: #696969;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
}

.contact__heading::before {
  margin: auto;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 25%;
  height: 5px;
  background: rgb(119, 113, 113);
  border-radius: 10px;
}

.contact__text {
  margin: 1rem 0 0;
  color: #3bb9e0;
}

@media (max-width: 748px) {
  .contact__container {
    grid-template-columns: 1fr;
  }

  .contact-details {
    order: 1;
    border-top: 1px solid rgb(194, 191, 191);
    margin: 1rem;
    padding-top: 1.5rem;
  }

  .contact__form {
    order: 0;
  }

  .contact__form {
    align-items: center;
    padding: 1rem;
  }

  .contact__header {
    text-align: center;
    /* max-width: 40%; */
  }

  .contact__heading::before {
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
  }
}

.MuiCardContent-root,
.MuiTypography-root {
  font-family: "Raleway", sans-serif !important;
}
